<header class="navbar navbar-expand-lg navbar-light bg-white border-bottom p-4 fixed-top shadow-sm">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <div class="bg-danger text-white fw-bold d-flex align-items-center justify-content-center rounded me-2" style="width: 30px; height: 30px;">/</div>
            <span class="fs-5 fw-semibold">Inedge Consulting</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center gap-3">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("Index", "About")">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("Index", "Services")">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("Index", "News")">News & Updates</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("Index", "Contact")">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</header>
